<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentplacementapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentPlacementApp">
        <activity android:name=".AdminReports"></activity>
        <activity android:name=".AdminDownloadresume" />
        <activity android:name=".AdminCompanyDetails" />
        <activity android:name=".AdminStudentsDetails" />
        <activity android:name=".AdminShare" />
        <activity android:name=".AdminSendnotification" />
        <activity android:name=".AdminFeeds" />
        <activity android:name=".AdminHome" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".SelectUser" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>